﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirmation";
}

<div class="container confirmContent">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>New Project Proposal has been created and assigned to the Digital Cloud Development queue.</p>
            <br />
            <p>A team member will reach out to you shortly with the status of your request.</p>
            <br />
            <p>Thank you.</p>
            <br />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <table class="table">
                <tr>
                    <th>Reference Id</th>
                    <td>@ViewData["ReferenceId"]</td>
                </tr>
                <tr>
                    <th>Task Id</th>
                    <td>@ViewData["TaskId"]</td>
                </tr>
                <tr>
                    <th>Task Title</th>
                    <td>@ViewData["TaskTitle"]</td>
                </tr>
                <tr>
                    <th>Task Description</th>
                    <td>@ViewData["TaskDescription"]</td>
                </tr>
            </table>

            <br /><br />

            @Html.ActionLink("Return Home","Index", "Home", null, new {@class="btn btn-primary", @id="homeBtn"})
            <br />
            <br />
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
