﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>DevOps Support Request</h1>
        </div>
    </div>
</div>

<form asp-action="SubmitProposal" asp-controller="Home" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>Your Username</label>
                <input type="text" class="form-control" value="@ViewData["User"]" readonly name="userName" />
            </div>
            <div class="col-md-3">
                <label>Your Email</label>
                <input type="text" class="form-control" value="@ViewData["UserEmail"]" readonly name="userEmail" />
            </div>
            <div class="col-md-3">
                <label>Contact Phone Number <span style="color: red !important;"> *</span></label>
                <input type="tel" class="form-control" value="" name="contactNumber" required maxlength="10" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Stakeholder Name <span style="color: red !important;"> *</span></label>
                <input type="text" class="form-control" value="" name="stakeHolder" required />
            </div>
            <div class="col-md-3">
                <label>Proposal Type <span style="color: red !important;"> *</span></label>
                 @Html.DropDownList("types", @ViewData["Types"] as List<SelectListItem>, null, new {@class = "form-control", @style="-webkit-appearance: listbox !important"})
            </div>
            <div class="col-md-3">
                <label>Priority <span style="color: red !important;"> *</span></label>
                 @Html.DropDownList("priorities", @ViewData["Priorities"] as List<SelectListItem>, null, new {@class = "form-control", @style="-webkit-appearance: listbox !important"})
            </div>
            <div class="col-md-3">
                <label>Business Unit <span style="color: red !important;"> * </span></label>
                <label title="This is typically a Department Name, etc."><i class="fa-solid fa-circle-info" style="color: blue !important;"></i></label>
                <input type="text" class="form-control" value="" name="businessUnit" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label>Do you have a file(s) to Attach?</label>
                <input type="file" class="form-control" value="" name="files" multiple/>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Proposal Subject <span style="color: red !important;"> *</span></label>
                <input type="text" class="form-control" value="" name="proposalSubject" required />
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Description <span style="color: red !important;"> *</span></label>
                <textarea name="description" class="form-control" cols="4" rows="4" required></textarea>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" id="submitNewProposal" class="btn btn-success" title="Submit New Proposal" style="width: 100% !important;"><i class="fa-regular fa-floppy-disk"></i> Submit</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>